<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChXRNGLtjPaUWf-ub7bJNCZaYV_HKjwpI</string>
	<key>GCM_SENDER_ID</key>
	<string>146673778766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookify</string>
	<key>PROJECT_ID</key>
	<string>cookify-a91dd</string>
	<key>STORAGE_BUCKET</key>
	<string>cookify-a91dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146673778766:ios:c0ac36bb7c5315ef75031f</string>
</dict>
</plist>